

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  flex-direction: column; 
}

.main-content {
  text-align: center;
}

p {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: translateY(1px);
}

